<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="org.apache.cordova.plugin.iad"
      version="0.1.0">
    <name>PayPalMPL</name>

    <js-module src="www/iAd.js" name="iAd">
        <clobbers target="window.plugins.iAd" />
    </js-module>

     <!-- ios -->
     <platform name="ios">    
         <config-file target="config.xml" parent="/*">
             <feature name="iAd">
                 <param name="ios-package" value="CDViAd" />
             </feature>
         </config-file>
         
         <header-file src="src/ios/CDViAd.h" />
         <source-file src="src/ios/CDViAd.m" />

 	     <framework src="AdSupport.framework" />
	</platform>
          
</plugin>
